.popups {
    position: relative;
    z-index: 999;
}

.popups ul {
    padding-left: 40px;
    list-style: disc;
}

.form__privacy {
    display: flex;
    margin: 15px 0;
}

.form__text {
    display: block;
    text-align: left;
    font-size: 14px;
    line-height: 1.2;
    margin: 0 0 0 5px;
}

.footer {
    margin: 25px 0 15px;
    text-align: center;
    color: #A12000;
}

.openModal {
    cursor: pointer;
    text-decoration: underline;
}

.cookie {
    background-color: rgba(50, 50, 50, 0.9);
    color: lightgrey;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 0.9rem;
    line-height: 20px;
    padding: 10px;
    z-index: 10;
}

.cookie__wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

.cookie__info {
    max-width: 1200px;
    flex: 1 0;
}

.cookie__close {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: .5rem;
    background-color: rgba(100, 0, 0, 1);
    white-space: nowrap;
    margin: 10px 5px;
}

.modals__item {
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.modals__content {
    width: 100%;
    max-width: 1000px;
    height: 70vh;
    background: #fff;
    padding: 0 15px;
    border-top: 15px solid #fff;
    border-bottom: 15px solid #fff;
    position: relative;
    overflow: auto;
}

.modals__content h1, h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 16px 0;
}

.modals__content h2 {
    font-size: 24px;
}

.modals__content p,
.modals__content li {
    font-size: 16px;
    font-weight: 400;
    margin: 16px 0;
    line-height: 1.3;
}

.modals__close {
    transform: rotate(45deg);
    position: fixed;
    top: 15px;
    right: 15px;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    cursor: pointer;
    font-size: 50px;
}

.display__none {
    display: none;
}

.form__checkbox {
    flex-shrink: 0;
    border-radius: 0;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px 0 0;
    vertical-align: middle;
}

.form__label {
    display: flex;
    cursor: pointer;
}

.form__label-text {
    font-size: 12px;
    color: #000;
    font-weight: 400;
}

@media screen and (max-width: 576px) {
    .cookie__info {
        font-size: 13px;
        padding: 0 15px;
        flex: 1 0 100%;
    }

    .cookie__close {
        padding: 5px 15px;
        margin: 5px;
    }
}