.alarm {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 30px;
}

.alarm__container {
    box-sizing: border-box;
    background: url('../img/alarm-bg.jpg') no-repeat 10% 50%/cover;
    position: relative;
    max-width: 1000px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.alarm__container:before {
    content: '';
    background: url('../img/alarm-before.png') no-repeat center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -28px;
    width: 55px;
    height: 49px;
    display: block;
    margin: auto;
}

.alarm__left {
    max-width: 210px;
    flex: 1 0 100%;
    margin: 10px 10px 10px 0;
}

.alarm__title {
    font-size: 16px;
    line-height: 1.3;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    margin: 0;
}

.alarm__right {
    font-weight: 400;
    max-width: 630px;
    flex: 1 0 100%;
    margin: 10px 0;
}

.alarm__text {
    font-size: 16px;
    line-height: 1.3;
    color: #000;
    margin: 0;
}

@media screen and (max-width: 576px) {
    .alarm {
        padding: 30px 10px 30px 40px;
    }
}