.quiz {
    margin: 20px 0;
    border: 1px solid #b12e32;
    background-color: #f5f5f5;
}

.quiz__title {
    font-size: 24px;
}

.quiz__title,
.quiz__status {
    color: #999;
}

.quiz__item {
    padding: 15px;
    background-color: #fff;
}

.quiz__item-textarea {
    min-height: 115px;
}

.quiz__input,
.quiz__btn {
    font-size: 16px;
    display: block;
    width: 100%;
    max-width: 290px;
    min-height: 30px;
    margin: 10px 0;
    padding: 5px 10px;
    border: none;
    border-radius: 0;
}

.quiz__btn {
    text-transform: uppercase;
    color: #fff;
    background: #5f201f;
}

.quiz__title {
    margin: 0;
}

.quiz__result-item {
    display: none;
    color: #000;
}

.quiz__result-item_active {
    display: block;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #b12e32;
}

.form__item {
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    max-width: 220px;
    padding: 10px;
}

.form__item_btn {
    align-content: flex-end;
}

.form__label {
    font-size: 15px;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .quiz {
        display: block;
    }
}

@media screen and (max-width: 576px) {
    .form {
        justify-content: center;
    }

    .quiz {
        flex-wrap: wrap;
        justify-content: center;
    }

    .form__item {
        max-width: 100%;
        padding: 5px;
    }

    .quiz__input, .quiz__btn {
        font-size: 18px;
        max-width: 100%;
    }

    .form__label {
        font-size: 18px;
    }
}
