* {
    font-family: 'Arial', sans-serif;
    line-height: 1.2;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

div, section, aside, header, footer, main, p, form, h1, h2, h3, h4, h5, h6 {
    display: block;
    width: 100%;
}

ul {
    padding-left: 20px;
}

p, h1, h2, h3, h4, h5, h6, li {
    margin: 15px 0;
}

p {
    line-height: 1.5;
}

.container {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.container_main {
    margin-top: 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
}

.header {
    padding: 5px 0;
    color: #fff;
    background: #002157;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.header__container {
    display: flex;
    align-items: center;
}

.header__right {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1 0 100%;
    max-width: 250px;
    margin-left: auto;
}

.nav {
    display: inline-flex;
    align-items: center;
    margin: 0 10px;
}

.nav__item {
    font-size: 11px;
    font-weight: 800;
    margin: 0 5px;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

.title {
    font-size: 45px;
    color: #4c4e4d;
    margin-top: 0;
}

.post {
    flex: 1 0;
    max-width: 740px;
    margin-right: 25px;
}

.logo {
    max-width: 210px;
    padding: 5px;
}

.soc {
    display: flex;
    align-items: center;
}

.soc__item {
    max-width: 30px;
    height: 30px;
    margin: 15px 15px 15px 0;
    cursor: pointer;
}

.soc__svg {
    flex: 1 0 100%;
    width: 100%;
    max-width: 40px;
    height: 100%;
}

.soc__svg_share path {
    fill: #4c4e4d;
}

.share {
    font-size: 10px;
    margin-left: 5px;
}

.aside {
    max-width: 300px;
    padding: 0 15px 15px;
}

.aside__header {
}

.aside__title {
    font-size: 24px;
    font-weight: 700;
    display: block;
    color: #000;
}

.aside__item {
    margin: 10px 0;
    padding-bottom: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.aside__title-background {
    font-size: 21px;
}

.aside__text {
    font-size: 14px;
    line-height: 1;
    margin: 10px 0 0;
}

.footer {
    align-self: flex-end;
    margin-top: 20px;
    padding: 30px 0;
    color: #000;
    background: #e7e7e7;;
}

.footer__container {
    align-items: flex-start;
    justify-content: space-between;
}

.footer__text {
    text-align: center;
}

@media screen and (max-width: 991px) {
    .aside {
        display: none;
    }

    .container_main {
        justify-content: center;
    }

    .title {
        font-size: 32px;
        line-height: 1.2;
        margin: 10px 0;
    }

    .post {
        flex: 1 0 100%;
        margin: 0;
    }

}

@media screen and (max-width: 768px) {
    .nav {
        display: none;
    }
}

@media screen and (max-width: 576px) {

    .post-title {
        font-size: 32px;
        line-height: 1.3;
    }

    p, h2, h3 {
        line-height: 1.3;
    }

    h2 {
        font-size: 20px;
    }
}